doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Akshat's portfolio
    link(
      href="/Dashboard/css/index.css" 
      rel="stylesheet"
      )
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/fontawesome-free-6.5.2-web/css/all.css" 
      rel="stylesheet"
      )
    link(
      type="image/x-icon" 
      href="/Dashboard/images/logo.png" 
      rel="shortcut icon"
      )
    link(
      href="/Dashboard/css/homeSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/aboutSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/utility.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/skillSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/resumeSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/projectSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/certificationSection.css" 
      rel="stylesheet"
      )
    link(
      href="/Dashboard/css/contactSection.css" 
      rel="stylesheet"
      )
  body
    nav#my-navbar
      .nav-header.flex
        img(
          alt="" 
          src="/Dashboard/images/mypic.jpg"
          )
        h4.white-text Akshat Kumar Sinha
        #SocialLinks
          a(
            onclick="socialProfile('linkedin')" 
            href="#imbeding" 
            id="#github"
            )
            i.fa-brands.fa-linkedin.fa-lg
          a(
            onclick="socialProfile('twitter')" 
            href="#imbeding"
            )
            i.fa-brands.fa-twitter.fa-lg
          a(
            onclick="socialProfile('github')" 
            href="#imbeding"
            )
            i.fa-brands.fa-github.fa-lg
          a(
            onclick="socialProfile('facebook')" 
            href="#imbeding"
            )
            i.fa-brands.fa-facebook.fa-lg
          a(
            onclick="socialProfile('instagram')" 
            href="#imbeding"
            )
            i.fa-brands.fa-instagram.fa-lg
      ul.flex
        li.active
          a(href="#Home")
            i.fa-solid.fa-house
            |  Home
        li
          a(href="#About")
            i.fa-regular.fa-user
            |  About Me
        li
          a(href="#Skills")
            i.fa-solid.fa-laptop
            |  Skills
        li
          a(href="#Resume")
            i.fa-regular.fa-file
            |  Resume
        li
          a(href="#Certifications")
            i.fa-solid.fa-certificate
            |  Certifications
        li
          a(href="#Project")
            i.fa-solid.fa-list-check
            |  Project
        li#imbed-nav(style="display: none;")
          a#variable(href="#imbeding") 
        li
          a(href="#Contact")
            i.fa-regular.fa-address-book
            |  Contact
    .my-container
      section#Home
        .my-name
          b
            | Akshat Kumar Sinha
            p
              | I'm a
              span.text
              span.cursor |
      section#About
        p.aboutTitle About
        p.aboutSelf
          | I'm a dedicated web developer and competitive coder passionate about crafting elegant solutions to complex problems. My mission is to leverage my skills in web development and competitive coding to create innovative digital experiences and excel in challenging coding environments.
        .details.flex
          img(
            alt="" 
            src="/Dashboard/images/mypic.jpg"
            )
          div
            h3
              span.text
            table
              tbody
                tr
                  td.bold Birthday
                  td :
                  td 17th April 2003
                tr
                  td.bold Website
                  td :
                  td
                    a(
                      target="_blank" 
                      href="https://akshat-project-site.onrender.com/"
                      ) https://akshat-project-site.onrender.com/
                tr
                  td.bold Phone
                  td :
                  td +91 7549679327
                tr
                  td.bold City
                  td :
                  td Surampalem , Andhra Pradesh
                tr
                  td.bold Age
                  td :
                  td 22
                tr
                  td.bold Degree
                  td :
                  td B.Tech
                tr
                  td.bold Email
                  td :
                  td kumarsinhaakshat8@gmail.com
        p.aboutSelf
          | Highly motivated and aspiring web developer, eager to embark on a journey in designing, developing, and maintaining responsive and user-friendly websites and web applications. Proficient in front-end and back-end technologies, with a keen interest in delivering innovative solutions to address client needs and surpass project objectives. Strong problem-solving abilities, coupled with meticulous attention to detail and a relentless drive to stay updated with emerging web technologies, fuel my dedication to crafting high-quality code and delivering exceptional user experiences.
      section#Skills
        p.skills-title Skills
        .skills-container.flex
          .skill-tab.flex
            a.skill-active(
              onclick="changeActiveSkill('languages');changeTab('python')" 
              name="languages"
              ) Programing Languages
            a(
              onclick="changeActiveSkill('webdev');changeTab('html')" 
              name="webdev"
              ) Web Development
            a(
              onclick="changeActiveSkill('devtools');changeTab('vscode')" 
              name="devtools"
              ) Development Tools
            a(
              onclick="changeActiveSkill('SystemAdminitstration')" 
              name="SystemAdminitstration"
              ) System Administration
          .skill-tab-container.flex-row
            #languages.skill-tab-inside
              p(style="text-align: center;") Languages & Badges Earned
              .languages-container.flex-row
                .nav-tab.flex
                  ul
                    li.lang-active(
                      onclick="changeTab('python')" 
                      name="python"
                      ) Python
                    li(
                      onclick="changeTab('java')" 
                      name="java"
                      ) Java
                    li(
                      onclick="changeTab('cpp')" 
                      name="cpp"
                      ) C++
                    li(
                      onclick="changeTab('c')" 
                      name="c"
                      ) C
                #python.language-tab-container.flex-column
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #java.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #cpp.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #c.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
            #webdev.skill-tab-inside(style="display: none;")
              p(style="text-align: center;") Languages & Badges Earned
              .languages-container.flex-row
                .nav-tab.flex
                  ul
                    li.lang-active(
                      onclick="changeTab('html')" 
                      name="html"
                      ) Html
                    li(
                      onclick="changeTab('css')" 
                      name="css"
                      ) CSS
                    li(
                      onclick="changeTab('js')" 
                      name="js"
                      ) JavaScript
                    li(
                      onclick="changeTab('nodejs')" 
                      name="nodejs"
                      ) Nodejs
                #html.language-tab-container.flex-column
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #css.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #js.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #nodejs.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
            #devtools.skill-tab-inside(style="display: none;")
              p(style="text-align: center;") Languages & Badges Earned
              .languages-container.flex-row
                .nav-tab.flex
                  ul
                    li.lang-active(
                      onclick="changeTab('vscode')" 
                      name="vscode"
                      ) Python
                    li(
                      onclick="changeTab('androidStudio')" 
                      name="androidStudio"
                      ) Java
                #vscode.language-tab-container.flex-column
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
                #androidStudio.language-tab-container.flex-column(style="display: none;")
                  .img-center
                    img(
                      alt="" 
                      src="/Dashboard/badges/python.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonibm.png"
                      )
                    img(
                      alt="" 
                      src="/Dashboard/badges/pythonpearson.png"
                      )
                  .button-bottom
                    a(href="https://www.hackerrank.com/profile/kumarsinhaaksha1")
                      button.btn.btn-primary Visit HackerRank
                    a(href="https://www.credly.com/users/aksinha/badges")
                      button.btn.btn-primary Visit Credly
            #SystemAdminitstration.skill-tab-inside(style="display: none;")
              p(style="text-align: center;") Red Hat
              .system-container
                p This is my RedHat System Administration CertiFicates
                .sytem-content.flex
                  .redhat-badge.flex-column
                    img(
                      style="height: 10rem; margin-top: 0.3rem;" 
                      alt="" 
                      src="/Dashboard/badges/redhat.png"
                      )
                    | This is my redhat Badge
                  .flex-column
                    img.redhat-certi-img(
                      style="height: 15rem; margin-top: 0.7rem;" 
                      src="/Dashboard/certificates/redhat.jpeg"
                      )
                    | This is my Redhat System
                    |   Administration Certificate
                div
                  a(href="https://www.credly.com/users/aksinha/badges")
                    button.btn.btn-primary Visit Credly
      section#Resume
        .resume-title Resume
        .resume-container.flex
          .resume-card
            .res-title SUMMARY
            .item
              .name Akshat Kumar Sinha
              .institution
                | I'm a dedicated web developer and competitive coder passionate about crafting elegant solutions to complex problems. My mission is to leverage my web development and competitive coding skills to create innovative digital experiences and excel in challenging coding environments.
              div
                ul
                  li Surampalem, Andhra Pradesh, India
                  li +91 7549679327
                  li kumarsinhaakshat8@gmail.com
          .resume-card
            .res-title Courses
            .item
              .name HTML 5 and Fundamentals
              .institution EDX private ltd.
              .course-time March 2024 - April 2024
            .item
              .name Red Hat System Administration
              .institution Technical hub private limited
              .course-time September 2022 - June 2023
            .item
              .name Java
              .institution Technical hub private limited
              .course-time March 2023 - April 2024
        .resume-container.flex
          .resume-card
            .res-title Education
            .item
              .name B. Tech
              .institution Aditya College of Engineering & Technology, Surampalem, Andhra Pradesh
              .edu-time 2021-present
            .item
              .name Intermediate
              .institution D.A.V Ara Kuju, Sarubera, Ramgarh, Jharkhand
              .edu-time 2019-2021
            .item
              .name Metriculation
              .institution D.A.V co-operative Sr. Sec. School,Khalari, Ranchi , Jharkhand
              .edu-time 2007-2019
          .resume-card
            .res-title Internship
            .item
              .name Problem-Solving and Java
              .institution Technical hub Private Limited
              .course-time May 2023 - July 2023
            .item
              .name Machine Learning with Python
              .institution Verzeo Private limited
              .course-time May 2022 - June 2022
        .flex.resume-button
          a(href="") Download Full Resume
          a(href="") View Full Resume
      section#Certifications
        #carouselExampleInterval.carousel.slide(data-bs-ride="carousel")
          .carousel-inner
            .carousel-item.active(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/redhat.jpeg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/pythonpearson.jpg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/oracle.jpg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/python.jpg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/cssHackerrank.jpeg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/edxhtml.jpeg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/cpp.jpeg"
                  )
            .carousel-item(data-bs-interval="3000")
              .flex
                img.d-block.w-75(
                  alt="..." 
                  src="/Dashboard/certificates/c.jpeg"
                  )
          button.carousel-control-prev(
            data-bs-slide="prev" 
            data-bs-target="#carouselExampleInterval" 
            type="button"
            )
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
          button.carousel-control-next(
            data-bs-slide="next" 
            data-bs-target="#carouselExampleInterval" 
            type="button"
            )
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
      section#Project
        h1(style="text-align: center;") Projects
        h4(style="text-align: center;")
          | Checkout my Project Showcase Website
          a(href="https://akshat-project-site.onrender.com/") https://akshat-project-site.onrender.com/
        .container-project.flex
          .card(style="width: 18rem;")
            img.card-img-top(
              alt="..." 
              src="/Dashboard/images/msc.jpg"
              )
            .card-body
              h5.card-title Music Player Project
              p.card-text
                | It is a Web-based Music Player by which we can play the Provided Songs. With play/pause/next/previous functionalities.
              a.btn.btn-primary(href="http://akshat-project-site.onrender.com/music") See Project
          .card(style="width: 18rem;")
            img.card-img-top(
              alt="..." 
              src="/Dashboard/images/clc.jpg"
              )
            .card-body
              h5.card-title Digital Clock Project
              p.card-text A simple Digital clock Shows Time in 12-hour format
              a.btn.btn-primary(href="http://akshat-project-site.onrender.com/clock") See Project
      section#imbeding(style="display: none;")
      section#Contact
        .contact-title Contact
        .contact-container.flex
          .contact-content
            .contact-content-title Contact Me
            .contact-content-p You can contact me on the following contact details
            .contact-content-details
              .contact-addr.pad-1
                p Location:
                | Surampalem, Andhra Pradesh, India
              .contact-number.pad-1
                p Phone number:
                | +91 7549679327
              .contact-mail.pad-1
                p Email:
                | kumarsinhaakshat8@gmail.com
              .contact-map.pad-1
                iframe(
                  referrerpolicy="no-referrer-when-downgrade" 
                  loading="lazy" 
                  allowfullscreen="" 
                  style="border:0;" 
                  height="100%" 
                  width="100%" 
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1470.0687753242926!2d82.06909033704646!3d17.092381778820954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1713513613619!5m2!1sen!2sin"
                  )
          form.contact-form(action="")
            .contact-form-title Send Me message
            input#sender-name(
              required="" 
              placeholder="Name" 
              name="name" 
              type="text"
              )
            input#sender-email(
              required="" 
              placeholder="Email" 
              name="email" 
              type="email"
              )
            input#sender-subject(
              required="" 
              placeholder="Subject" 
              name="subject" 
              type="text"
              )
            textarea#sender-message(
              placeholder="Enter your message here" 
              rows="10" 
              cols="30" 
              name="message"
              )
            input#submit(
              value="Send Message" 
              type="submit"
              )
  script(src="/Dashboard/js/activeLinks.js")
  script(src="/Dashboard/js/typed.js")
  script(src="/Dashboard/js/typedAbout.js")
  script(src="/Dashboard/js/connectSocial.js")
  script(src="/Dashboard/js/github.js")
  script(
    crossorigin="anonymous" 
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    )
  script(src="/Dashboard/js/activeskill.js")